{% extends "backend/skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block title_menu %}{{title}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{base_url()}}backend">Home</a></li>
    <li class="breadcrumb-item active">{{title}}</li>
</ol>
{% endblock %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-right">
                <a class="btn btn-primary" href="{{base_url()}}export/downloadReport"><i class="fas fa-download"></i>  Download</a>
            </div>
            <div class="col-12 mt-2">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 5%">No</th>
                                    <th style="width: 50%">Tanggal</th>
                                    <th style="width: 30%" class="text-right">Total Donasi</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan=2 class="text-right font-weight-bold">Total Semua Donasi</td>
                                    <td class="text-right font-weight-bold">Rp. <span id="total">0</span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block custom_js %}
<script>
    $(function () {
        list();
    });

    function list() {
        $.ajax({
            url: "{{base_url()}}api/backend/donation/report",
            type: "GET",
            dataType: "JSON",
            headers: {
                "Authorization": localStorage.getItem('key')
            },
            success: function(data) {
                if ($.fn.DataTable.isDataTable('.table')) {
                    $('.table').DataTable().destroy();
                }
                $('.table tbody').empty();
                if (data.status) {
                    $(".table").DataTable({
                        data: data.data,
                        aoColumns: [
                            { mData: 'id' },
                            { mData: 'date' },
                            { mData: 'amount' },
                        ],
                        responsive: true,
                        lengthChange: false,
                        autoWidth: false,
                        info: true,
                        ordering: false,
                        language: {
                            emptyTable: "Belum ada yang memberikan donasi saat ini."
                        }
                    });
                    $('#total').html(data.total);
                } else {
                    $(".table").DataTable({
                        language: {
                            emptyTable: "Belum ada yang memberikan donasi saat ini."
                        }
                    });
                }
            },
            error: function(err) {
                alert(err);
            }
        });
    }
</script>
{% endblock %}