{% extends "frontend/skeleton.twig" %}
{% block additional_css %}
<link href="{{base_url()}}assets/template/frontend/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<style>
p{
    font-size : 14px
}
</style>
{% endblock %}
{% block content %}

 <!--================================-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Status', 'Jumlah'],
          ['Tersedia',     {{ stock_belum }}],
          ['Terhimpun',      {{ stock_sudah }}]
        ]);

        var options = {
          legend: 'none',
           slices: {
            0: { color: '#f12f38' },
            1: { color: '#e5b155' }
          }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
 <div style="background-color:#fffaf4">
    <div class="row mg-b-20 pd-10 no-gutters ">
        {# slide iklan #}
        <div style="width:100%" class="mr-2">
            <div  class="mr-2 ml-2 mb-3 justify-content-center align-items-center   border-success">
                <center>
                <img  style="width:100%;height:80%" class="" src="https://scola-uploader.sgp1.digitaloceanspaces.com/upload/80a147f67ea07c0f22d2cd7d/SLIDE%201%20QURBAN%20LCa1.jpg">
                </center>
             </div>
        </div>
        {#  #}
        
        {# satu #}
        <div style="width:100%;" class="row mb-2">
            <div class="col-10">
                <i class="fa fa-angle-double-right text-primary tx-13 pl-2 mt-2"></i><b class="text-primary">&nbsp;&nbsp;Apa itu QBK ?</b>
            </div>
            <div class="col-2">
                <button id="btn1_open" onclick="openDetail(1)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-info d-none">Buka</button>
                <button id="btn1_close" onclick="closeDetail(1)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-secondary">Tutup</button>
            </div>
            <div id="card_1" class="col-12 ml-3">
                Merupakan sebuah program pendistribusian
                hewan qurban kepada Guru Ngaji dan Santri 
                yang berada di pelosok negeri (perkampungan).
                <br><br>
                Bagi masyarakat yang hendak menyalurkan qurban 
                terbaiknya untuk membahagiakan sebaik-baik orang 
                dapat dengan pilihan sebesar:
                <br>
                <li style="font-size:15px"  class="text-danger"><b>Rp. 3.000.000 (1 ekor domba )</b></li>
                <li style="font-size:15px" class="text-danger"><b>Rp. 3.000.000 (1/7 ekor sapi )</b></li>
            </div>
        </div>

        {# enam #}
        <div style="width:100%;" class="row mb-2 ">
            <div class="col-10">
                <i class="fa fa-angle-double-right text-primary tx-13 pl-2 mt-2"></i><b class="text-primary">&nbsp;&nbsp;Rekening Penampung</b>
            </div>
            <div class="col-2">
                <button id="btn6_open" onclick="openDetail(6)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-info">Buka</button>
                <button id="btn6_close" onclick="closeDetail(6)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-secondary  d-none">Tutup</button>
            </div>
            <div id="card_6" class="col-12 ml-3 d-none">
                - BRI 0989-01-023446-53-4 <br> a.n Yayasan Al-Kalam
                <br>
                - Mandiri 132-00-7788444-4 <br> a.n Yayasan Al-Kalam
            </div>
        </div>

        {# dua #}
        <div style="width:100%;" class="row mb-2">
            <div class="col-10">
                <i class="fa fa-angle-double-right text-primary tx-13 pl-2 mt-2"></i><b class="text-primary">&nbsp;&nbsp;Sedekah Qurban</b>
            </div>
            <div class="col-2">
                <button id="btn2_open" onclick="openDetail(2)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-info">Buka</button>
                <button id="btn2_close" onclick="closeDetail(2)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-secondary  d-none">Tutup</button>
            </div>
            <div id="card_2" class="col-12 ml-3 d-none">
                Program pengumpulan dana secara bersama-sama
                (tidak dengan nominal pasti)
                untuk pembelian hewan qurban bagi para santri
                penghapal Qur'an dan Guru Ngaji di pelosok negeri
            </div>
        </div>

        {# tiga #}
        <div style="width:100%;" class="row mb-2">
            <div class="col-10">
                <i class="fa fa-angle-double-right text-primary tx-13 pl-2 mt-2"></i><b class="text-primary">&nbsp;&nbsp;Tabungan Qurban</b>
            </div>
            <div class="col-2">
                <button id="btn3_open" onclick="openDetail(3)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-info">Buka</button>
                <button id="btn3_close" onclick="closeDetail(3)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-secondary  d-none">Tutup</button>
            </div>
            <div id="card_3" class="col-12 ml-3 d-none">
                Program untuk memfasilitasi masyarakat menabung qurban
                dengan periode tertentu untuk bisa melaksanakan qurban
                di tahun mendatang.
                <br><br>
                Lihat kalkulator qurban untuk melihat skema penghimpunan 
                tabungan. <a href="{{ base_url() }}Page/kalkulator"> Klik disini !</a>
            </div>
        </div>

        {# empat #}
        <div style="width:100%;" class="row mb-2 ">
            <div class="col-10">
                <i class="fa fa-angle-double-right text-primary tx-13 pl-2 mt-2"></i><b class="text-primary">&nbsp;&nbsp;Pelaksanaan Qurban</b>
            </div>
            <div class="col-2">
                <button id="btn4_open" onclick="openDetail(4)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-info">Buka</button>
                <button id="btn4_close" onclick="closeDetail(4)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-secondary  d-none">Tutup</button>
            </div>
            <div id="card_4" class="col-12 ml-3 d-none">
                - Qurban dilaksanakan di perkampungan santri/guru ngaji
                dengan atas nama Mudhohi.
                <br>
                - Mudhohi bisa menghadiri secara langsung pelaksanaan ataupun
                memantau melalui sosial media LCA
                <br>
                - Setiap proses yang dilaksanakan akan di informasikan kepada 
                mudhohi sebagai bentuk transaparansi
            </div>
        </div>

        {# Lima #}
        <div style="width:100%;" class="row mb-2">
            <div class="col-10">
                <i class="fa fa-angle-double-right text-primary tx-13 pl-2 mt-2"></i><b class="text-primary">&nbsp;&nbsp;Dokumentasi Qurban</b>
            </div>
            <div class="col-2">
                <button id="btn5_open" onclick="openDetail(5)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-info d-none">Buka</button>
                <button id="btn5_close" onclick="closeDetail(5)" style="height:20px" class="text-white pt-1 mb-1 btn btn-sm btn-secondary">Tutup</button>
            </div>
            <div id="card_5" class="col-12 ml-3">
                <div class="row mg-b-20 pd-20 no-gutters" style="height:350px;overflow-y: scroll;overflow-x: hidden;">
                    {% for row in data %}
                        <div style="width:50%" >
                            <div class="mr-2 ml-2 mb-3 ht-90 d-flex justify-content-center card border-success align-items-center ">
                                <img  style="width:100%;height:100%" class="" src="{{ row.foto }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </div>

    </div>
</div>

<footer style="background-color:#fffaf4" class="">
    <center><p style="font-size:10px" class="pd-y-3 mb-0">Copyright&copy; 2022 | Created By <a href="#" target="_blank">Lembaga Cerdas Al-Qur'an</a></p></center>
</footer>
<!--/ Border Cards End -->

{% block custom_js %}
<script>
    function openDetail(id){
        $('#btn'+id+'_open').addClass('d-none');
        $('#btn'+id+'_close').removeClass('d-none');
        $('#card_'+id).removeClass('d-none');
    }
    function closeDetail(id){
        $('#btn'+id+'_open').removeClass('d-none');
        $('#btn'+id+'_close').addClass('d-none');
        $('#card_'+id).addClass('d-none');
    }
    function alertFitur(){
        alert('Fitur ini akan segera Hadir 🙏🏻');
    }
</script>
{% endblock %}

{% endblock %}