{% extends "frontend/skeleton.twig" %}
{% block content %}
<link rel="stylesheet" href="{{ base_url() }}assets/css/signature-pad.css">
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-39365077-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
{# 
// live //
G386681899 (id)
Mid-client-KLw6fRw-A8idhxgt (clien)
Mid-server-REkQE-FqcKibXLubHHjCkaP5 (server)
 #}
 {# 
 development
 $this->serverKey   = 'SB-Mid-server-sldUEJ7D7zZIaR4nfJECzdwh';
		$this->merchantId  = 'G386681899';
		$this->clientKey   = 'SB-Mid-client-0aorM48QpVY5uRfl';
  #}
<section id="donation" class="contact pt-1" style="background: linear-gradient(#30d02c, #fff438);">
  <div class="pageheader">
      <div class="row ml-1 mr-1 mb-1">
        <div class="card border-primary" style="background-color:#fafbff">
            <div class="card-body"  style="background-color:#fafbff">
                <div class="row">
                    <div class="col-12 mb-1">
                        <center>
                        <a style="" class="card-text"><b><i class="fa fa-dot-circle-o mr-1"></i>Target</b></a>
                        </center>
                    </div>
                    <div style="width:71%">
                        <a style="" class="card-text mb-1">📍🗺️ 61 Desa Kelurahan</a>
                        <a style="" class="card-text">🐪🐂🐏 100 Hewan Qurban</a>
                    </div>
                    <div style="width:29%">
                    </div>
            
                    <div class="col-12 mt-3">
                        <center>
                        <a style="" class="card-text"><b><i class="fa fa-check-square-o mr-1"></i>Pencapaian</b></a>
                        </center>
                    </div>
                    <div class="col-12">
                        <div class="row mt-2">
                        <div class="col-12">
                          <div class="  d-flex">
                            <div class="small">({{ percen }}%)</div>
                            <div class="ml-auto mr-2"><span style="font-size:10px" class="text-danger fa fa-minus-circle fa-sm mr-1"></span>{{ minus }} Hewan</div>
                          </div>
                            <div style="height:10px" class="progress progress-xs mb-2">
                                {% if percen >= 0 and percen <= 20 %}
                                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                {% elseif percen > 20 and percen <= 40 %}
                                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                {% elseif percen > 40 and percen <= 60 %}
                                <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                {% elseif percen > 60 and percen <= 80 %}
                                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                {% elseif percen > 80 and percen <= 100 %}
                                <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                {% endif %}
                            </div>
                          <div class="  d-flex">
                            <div class="mr-auto small text-success"><a style="font-size:10px">🐪🐂🐏{{ total }} Hewan Qurban</a></div>
                            <div class="ml-auto small text-danger">
                                <a id="timeCountdown" class="card-text"></a>
                                <script>
                                    $( document ).ready(function() {
                                        countDown('July 09, 2022 08:00:00', 1);
                                    });
                                    function countDown(date, id){
                                        var countDownDate = new Date(date).getTime();
                                        var x = setInterval(function() {
                                        var now = new Date().getTime();
                                        var distance = countDownDate - now;
                                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                        document.getElementById("timeCountdown").innerHTML = days + " hari " + hours + " : "
                                        + minutes + " : " + seconds + " lagi";
                                        if (distance < 0) {
                                            clearInterval(x);
                                            document.getElementById("timeCountdown").innerHTML = "TERLEWAT";
                                        }
                                        }, 1000);
                                    }
                                </script>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
      </div>
  </div>
  <div class="row ">
          <div class="row">
            <div class="col-md-12 pl-4 mt-3 ml-4">
              <center>
              <p style="font-size:15px;color:black"><b>Partisipasi bisa dilakukan langsung dengan scan QRIS di bawah ini melalui fasilitas pembayaran yang sahabat miliki 🙏</b></p>
              <img  style="height:270px" class="" src="https://gencarlca.id/assets/img/qr_lca.png">
              <p style="font-size:15px;color:black"><b>Atau melalui form dibawah ini 👇</b></p>
              </center>
            </div>
          </div>
          <!-- END LIST OF DONATUR -->
          <!-- FORM DONATION -->
          <div class="row">
            <div class="col-6 pl-4 mt-3 ml-4">
              <div class="custom-control custom-radio">
                  <button type="button" style="height:22px;width:10px;border-radius: 50%;" id="btn_qurban" onclick="qurbanKlik()" class="border-primary btn btn-sm btn-neutral">&nbsp;</button>
                  {# <input style="height:50px" name="rdio" type="radio"   class="custom-control-input" id="radio1"> #}
                  <label style="font-size:16px" >Qurban</label>
              </div>
            </div>
            <div class="col-5 mt-3 ">
              <div class="custom-control custom-radio">
                  <button  style="height:22px;width:10px;border-radius: 50%;" id="btn_donasi" onclick="donasiKlik()" class="border-primary btn btn-sm btn-primary">&nbsp;</button>
                  {# <input style="height:50px" name="rdio" type="radio"  checked="" class="custom-control-input"  id="radio2"> #}
                  <label style="font-size:16px">Sedekah</label>
              </div>
            </div>
          </div>
          <input id="list_val" type="hidden" value="{{ last }}">
          <div class="col-lg-12">
            <form id="form" method="post" class="php-email-form pb-0" onsubmit="payment(); return false;">
              <input id="ttd_capture" name="ttd_capture" type="hidden" value="">
              <input id="qurban_type" name="qurban_type" type="hidden" value="0">
              <input id="secret_key" name="secret_key" type="hidden" value="{{ secret_key }}">
             <div class="row ">
                
                <div class="col-md-12 mb-2">
                  <label>Nama Lengkap<span class="text-danger">*</span></label>
                  <input type="text" name="name" class="form-control" placeholder="Masukan nama lengkap ..." required>
                </div>
                <div class="col-md-12 mb-2">
                  <label>No Hp (wa)<span class="text-danger">*</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Masukan no. Hp ..." required>
                </div>
                <div class="col-md-12">
                  <label>Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Masukan email ...">
                </div>
                <div class="col-md-12 mb-2">
                  <label>Nominal<span class="text-danger">*</label>
                  <input type="text" class="form-control form-prepend" id="amount"  value="" name="amount" placeholder="Masukan nominal ..." required>
                  <input type="text" class="form-control form-prepend d-none" id="hide_amount" readonly value="3000000" >
                </div>
                <div class="col-md-12 mb-2">
                  <label>Pesan</label>
                  <textarea class="form-control" name="message" rows="4" placeholder="Masukan pesan ..."
                    ></textarea>
                </div>

                <div class="col-md-12 mb-2 mt-2">
                  <center>
                  <p style="font-size:15px"><b>Dengan saya bertanda tangan di bawah ini menunjukan bahwa saya bersedia menyerahkan sepenuhnya hak daging qurban saya kepada mustahik</b></p>
                  </center>
                </div>

                {# Tanda Tangan #}
                <div class="col-md-12 mb-2">
                <label>Tanda Tangan</label>
                <div  onselectstart="return false">
                  <div id="signature-pad"  class="signature-pad">
                    <div class="signature-pad--body" >
                      <canvas  style="height: 200px;width:310px"></canvas>
                    </div>
                    <div class="signature-pad--footer">
                      <div class="d-none description">Sign above</div>

                      <div class="signature-pad--actions">
                          <button type="button" class="btn btn-danger clear" data-action="clear">Hapus</button>
                          <button type="button" class="d-none button" data-action="change-color">Change color</button>
                          <button type="button" class="d-none button " data-action="undo">Undo</button>
                          <button type="submit" id="submit" class="col-12 mt-2 w-100 save" data-action="save-png1">Lanjutkan Pembayaran</button>
                          <button type="button" class="d-none button save" data-action="save-jpg">Save as JPG</button>
                          <button type="button" class="d-none button save" data-action="save-svg">Save as SVG</button>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                {#  #}

                {# <div class="col-md-12 text-center">
                  <div class="services mb-3" id="content-message">
                    <div class="d-none service-box btn-danger p-3" id="error-message">
                    </div>
                  </div>
                  <button type="submit" id="submit" class="w-100">Lanjutkan Pembayaran</button>
                </div> #}
              </div>
      </form>
    </div>
  </div>

</section>

{% endblock %}
{% block custom_js %}
<!-- Input Mask -->
<script>
var id = document.getElementById("list_val").value;
var wrapper = document.getElementById("signature-pad");
var savePNGButton = wrapper.querySelector("[data-action=save-png1]");
var canvas = wrapper.querySelector("canvas");
savePNGButton.addEventListener("click", function (event) {
  if (signaturePad.isEmpty()) {
    // alert("Please provide a signature first.");
  } else {
    var dataURL = signaturePad.toDataURL();
    localStorage.setItem("ttd_" + id, dataURL);
    checkTtd(dataURL);
  }
});

function checkTtd(dataURL){
  $('#ttd_capture').val(dataURL);
}
</script>
<script src="{{base_url()}}assets/template/frontend/js/jquery.mask.js"></script>
<script src="{{base_url()}}assets/template/frontend/js/jquery.mask.min.js"></script>
<script>
    $(document).ready(function(){
      $('#phone').mask("999-9999-9999-999");
      $('#amount').mask("#.##0", {reverse: true});
      $('#hide_amount').mask("#.##0", {reverse: true});
    });

    function qurbanKlik(){
      $("#amount").attr("readonly", true); 
      $("#amount").val(3000000); 
      $("#qurban_type").val(1); 
      $("#hide_amount").removeClass('d-none'); 
      $("#amount").addClass('d-none'); 
      $("#btn_donasi").addClass('btn-neutral'); 
      $("#btn_donasi").removeClass('btn-primary'); 
      $("#btn_qurban").addClass('btn-primary'); 
      $("#btn_qurban").removeClass('btn-neutral'); 
    }

    function donasiKlik(){
      $("#amount").attr("readonly", false); 
      $("#amount").val(''); 
      $("#qurban_type").val(0); 
      $("#hide_amount").addClass('d-none'); 
      $("#amount").removeClass('d-none'); 
      $("#btn_donasi").removeClass('btn-neutral'); 
      $("#btn_donasi").addClass('btn-primary'); 
      $("#btn_qurban").removeClass('btn-primary'); 
      $("#btn_qurban").addClass('btn-neutral'); 
    }

    function payment() {
        $('#amount').unmask();
        $('#phone').unmask();
        var form_data = new FormData(document.getElementById('form'));
        $.ajax({
            url: "{{base_url()}}api/frontend/midtrans/generateToken",
            type: "POST",
            dataType: "JSON",
            data: form_data,
            processData: false,
            contentType: false,
            beforeSend: function() {
            $('#submit').html('Sedang Memproses ...');
            $('#submit').prop('disabled', true);
            $('#submit').attr('disabled', true);
            },
            success: function (data) {
            $('#phone').mask("999-9999-9999");
            $('#amount').mask("#.##0", {reverse: true});
            $('#submit').html('Lanjutkan Pembayaran');
            $('#submit').removeProp('disabled');
            $('#submit').removeAttr('disabled');
                if (data.status) {
                snap.pay(data.token);
                } else {
                $('#error-message').removeClass('d-none');
                $('#error-message').html('<p>' + data.message + '</p>');
                setTimeout(() => {
                    $('#error-message').addClass('d-none');
                    $('#error-message').html('');
                }, 5000);
                }
            },
            error: function() {
            $('#phone').mask("999-9999-9999-999");
            $('#amount').mask("#.##0", {reverse: true});
            $('#submit').html('Lanjutkan Pembayaran');
            $('#submit').removeProp('disabled');
            $('#submit').removeAttr('disabled');
            }
        });
    }
</script>
<script>
function simpanIMG(){
    var wrapper = document.getElementById("signature-pad");
    var canvas = wrapper.querySelector("canvas");
    var signaturePad = new SignaturePad(canvas, {
        backgroundColor: 'rgb(255, 255, 255)'
    });
    if (signaturePad.isEmpty()) {
    // alert("Please provide a signature first.");
  } else {
    var dataURL = signaturePad.toDataURL();
    localStorage.getItem('recent-image', dataURL);
    // download(dataURL, "signature.png");
  }
}

function download(dataURL, filename) {
  localStorage.getItem('recent-image', dataURL);
  // $('#ttd_capture').val(dataURL);
  // if (navigator.userAgent.indexOf("Safari") > -1 && navigator.userAgent.indexOf("Chrome") === -1) {
    // window.open(dataURL);
  // } else {
  //   var blob = dataURLToBlob(dataURL);
  //   var url = window.URL.createObjectURL(blob);

  //   var a = document.createElement("a");
  //   a.style = "display: none";
  //   a.href = url;
  //   a.download = filename;

  //   document.body.appendChild(a);
  //   a.click();

  //   window.URL.revokeObjectURL(url);
  // }
}
</script>
  <script src="{{ base_url() }}assets/signature/js/signature_pad.umd.js"></script>
  <script src="{{ base_url() }}assets/signature/js/app.js"></script>
{% endblock %}
