{% extends "frontend/skeleton.twig" %}
{% block content %}
<link rel="stylesheet" href="{{ base_url() }}assets/css/signature-pad.css">
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-39365077-1']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<section id="donation" class="contact pt-1" style="background: linear-gradient(#30d02c, #fff438);">

  <div class="row ">
          <div class="row">
            <div class="col-md-12 pl-4 mt-3 ml-4">
              <center>
              <p style="font-size:15px;color:black"><b>🗳️ TABUNGAN QURBAN </b></p>
              <p class="text-dark">Program yang dibuka untuk masyarakat umum supaya dapat melaksanakan Ibadah Qurban di tahun 
              yang akan datang dengan cara menabung dari sekarang 👍🏻<p>
              </center>
            </div>
          </div>
          <div class="col-lg-12">
            <form id="form" method="post" class="php-email-form pb-0" onsubmit="payment(); return false;">
              <input id="ttd_capture" name="ttd_capture" type="hidden" value="">
              <input id="qurban_type" name="qurban_type" type="hidden" value="0">
              <input id="secret_key" name="secret_key" type="hidden" value="{{ secret_key }}">
             <div class="row ">
                
                <div class="col-md-12 mb-2">
                  <label>Harga Hewan<span class="text-danger">*</span></label>
                  <select id="select_harga" class="form-control">
                    <option value="3000000">3.000.000</option>
                    <option value="3500000">3.500.000</option>
                    <option value="4000000">4.000.000</option>
                  </select>
                </div>
                <div class="col-md-12 mb-2">
                  <label>Periode Tabungan<span class="text-danger">*</label>
                  <select id="select_periode" class="form-control">
                    <option value="1">Mingguan</option>
                    <option value="2">Bulanan</option>
                  </select>
                </div>
                <div class="col-md-12 mb-3 mt-3">
                    <button onclick="hitungTabungan()" type="button" class="btn col-12 btn-sm btn-primary">Hitung</button>
                </div>
                <div id="card_tabungan" class="mb-3 d-none" style="background-color:white;border-radius:3px">
                  <div class="col-md-12 mb-2 mt-3">
                      <b>Jumlah Periode</b> : <a id="j_periode"> 12 Bulan</a>
                  </div>
                  <div class="col-md-12 mb-2">
                      <b>Harga Hewan</b> : <a id="j_harga" > 3.000.000</a>
                  </div>
                  <div class="col-md-12 mb-2">
                      <b>Tabungan</b> : <a id="j_tabungan"> 3.000.000/bulan</a>
                  </div>
                  <div class="col-md-12">
                      <b>Terkumpul</b> : <a id="j_terkumpul"> 3.000.000 (1 tahun)</a>
                  </div>
                </div>
                <div id="btn_periode" class="d-none col-md-12 mb-3">
                    <a id="btn_daftar"></a>
                </div>
                <hr>
                <div class="col-md-12 mb-2">
                  <label>Petunjuk</label>
                  <div class="" >
                    <p class="text-dark">📝 Silahkan Pilih <b>Harga Hewan</b> dan <b>Periode Tabungan</b> 
                    untuk mendapatkan kalkulasi hitungan tabungan. Kemudian klik tombol "<b>Hitung</b>"</p>
                    <p class="text-dark">📝 Periode tabungan dimulai dari tanggal <b>01 Juli 2022</b></p>
                    <p class="text-dark">📝 LCA akan mengingatkan untuk menabung sesuai periode yang dipilih
                    melalui WA dengan nomor resmi LCA</p>
                    <p class="text-dark">📝 Cara menabung :
                      <br>- Melalui sistem yang disediakan
                      <br>- Transfer ke rekening LCA
                      <br>- Penitipan kepada Petugas Tafaqur/Guru Ngaji LCA
                    </p>
                    <p class="text-dark">📝 Klik "<b><a id="link_daftar" target="_blank" href="">Daftar Tabungan</a></b>" untuk mengikuti program</p>
                    <br>
                  </div>
                </div>
              </div>
    </div>
  </div>

</section>

{% endblock %}
{% block custom_js %}
<script>
  function hitungTabungan(){
    // tahun  = 12 bulan = 52 minggu
     var harga = $('#select_harga').val();
     var periode = $('#select_periode').val();
     $('#card_tabungan').removeClass('d-none');
     if(periode == 1){
       var hitung = harga/52;
       $('#btn_periode').removeClass('d-none');

       $('#j_periode').html('52 Minggu');
     }else{
       var hitung = harga/12;
       $('#btn_periode').removeClass('d-none');
       $('#j_periode').html('12 Bulan');
     }
     var fix = Math.ceil(hitung);
     if(periode == 1){
      $('#j_tabungan').html(fix.toLocaleString('en-US') + '/minggu');
      $('#btn_daftar').html('<a href="https://wa.me/6281322488019?text=Saya+ingin+mendaftar+program+*Tabungan+Qurban*+di+LCA+%0A+dengan+paket+Harga+hewan+'+harga.toLocaleString('en-US')+'+dan+periode+tabungan+mingguan+%0A%0A+Nama:+%0A+.+.+.+.+%0A+Alamat:+%0A+.+.+.+.+%0A%0A%0A+_silahkan+lengkapi+data+diatas" target="_blank" class="col-12 btn btn-danger">Daftar Tabungan</a>');
      $('#link_daftar').html('<a href="https://wa.me/6281322488019?text=Saya+ingin+mendaftar+program+*Tabungan+Qurban*+di+LCA+%0A+dengan+paket+Harga+hewan+'+harga.toLocaleString('en-US')+'+dan+periode+tabungan+mingguan+%0A%0A+Nama:+%0A+.+.+.+.+%0A+Alamat:+%0A+.+.+.+.+%0A%0A%0A+_silahkan+lengkapi+data+diatas" target="_blank" >Daftar Tabungan</a>');
  
       var sum = fix*52;
     }else{
      $('#j_tabungan').html(fix.toLocaleString('en-US') + '/bulan');
      $('#btn_daftar').html('<a href="https://wa.me/6281322488019?text=Saya+ingin+mendaftar+program+*Tabungan+Qurban*+di+LCA+%0A+dengan+paket+Harga+hewan+'+harga.toLocaleString('en-US')+'+dan+periode+tabungan+bulanan+%0A%0A+Nama:+%0A+.+.+.+.+%0A+Alamat:+%0A+.+.+.+.+%0A%0A%0A+_silahkan+lengkapi+data+diatas" target="_blank" class="btn col-12 btn-sm btn-danger">Daftar Tabungan</a>');
      $('#link_daftar').html('<a href="https://wa.me/6281322488019?text=Saya+ingin+mendaftar+program+*Tabungan+Qurban*+di+LCA+%0A+dengan+paket+Harga+hewan+'+harga.toLocaleString('en-US')+'+dan+periode+tabungan+bulanan+%0A%0A+Nama:+%0A+.+.+.+.+%0A+Alamat:+%0A+.+.+.+.+%0A%0A%0A+_silahkan+lengkapi+data+diatas" target="_blank">Daftar Tabungan</a>');
       
       var sum = fix*12;
     }
     var convert = parseInt(harga);
      $('#j_harga').html(convert.toLocaleString('en-US'));
      $('#j_terkumpul').html(sum.toLocaleString('en-US') + ' (1 tahun)');
  }
</script>
{% endblock %}
