{% extends "frontend/skeleton.twig" %}
{% block additional_css %}
<link href="{{base_url()}}assets/template/frontend/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <!-- ======= Donation Section ======= -->
    <section id="donation" class="contact pt-1" style="background: linear-gradient(#30d02c, #fff438);">

        {#  #}
      <div class="pageheader">
         <div class="row ml-1 mr-1 mb-1">
            <div class="card border-primary" style="background-color:#fafbff">
                <div class="card-body"  style="background-color:#fafbff">
                    <div class="row">
                        <div class="col-12 mb-1">
                            
                            <a style="" class="card-text"><b><i class="fa fa-dot-circle-o mr-1"></i>Target</b></a>
                            
                        </div>
                        <div style="width:65%">
                            <a style="" class="card-text mb-1">📍🗺️ 61 Desa Kelurahan</a>
                            <a style="" class="card-text">🐪🐂🐏 100 Hewan Qurban</a>
                        </div>
                        <div style="width:35%">
                            <a href="{{ base_url() }}Page/donation" class="animated infinite bounce  btn btn-sm btn-danger">DAFTAR <br>SEKARANG !!!</a>
                        </div>
                
                        <div class="col-12 mt-3">
                            
                            <a style="" class="card-text"><b><i class="fa fa-check-square-o mr-1"></i>Pencapaian</b></a>
                            
                        </div>
                        <div class="col-12">
                            <div class="row mt-2">
                            <div class="col-12">
                              <div class="  d-flex">
                                <div class="small">({{ percen }}%)</div>
                                <div class="ml-auto mr-2"><span style="font-size:10px" class="text-danger fa fa-minus-circle fa-sm mr-1"></span>{{ minus }} Hewan Qurban</div>
                              </div>
                                <div style="height:10px" class="progress progress-xs mb-2">
                                    {% if percen >= 0 and percen <= 20 %}
                                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% elseif percen > 20 and percen <= 40 %}
                                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% elseif percen > 40 and percen <= 60 %}
                                    <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% elseif percen > 60 and percen <= 80 %}
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% elseif percen > 80 and percen <= 100 %}
                                    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% endif %}
                                </div>
                              <div class="  d-flex">
                                <div class="mr-auto small text-success"><a style="font-size:10px">🐪🐂🐏{{ total }} Hewan Qurban</a></div>
                                <div class="ml-auto small text-danger">
                                    <a id="timeCountdown" class="card-text"></a>
                                    <script>
                                        $( document ).ready(function() {
                                            countDown('July 09, 2022 08:00:00', 1);
                                        });
                                        function countDown(date, id){
                                            var countDownDate = new Date(date).getTime();
                                            var x = setInterval(function() {
                                            var now = new Date().getTime();
                                            var distance = countDownDate - now;
                                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                            document.getElementById("timeCountdown").innerHTML = days + " hari " + hours + " : "
                                            + minutes + " : " + seconds + " lagi";
                                            if (distance < 0) {
                                                clearInterval(x);
                                                document.getElementById("timeCountdown").innerHTML = "TERLEWAT";
                                            }
                                            }, 1000);
                                        }
                                    </script>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                    </div> 
                </div>
            </div>
            
            <div class="col-12 mt-3 mb-2" >
                <center>
                    <b class="mt-2 pt-2" style="color:black;font-size:12px">
                        "Tidaklah seorang anak Adam melakukan pekerjaan yang paling dicintai Allah pada hari Nahr kecuali
                        mengalirkan darah (menyembelih hewan kurban). Hewan itu nanti pada hari kiamat akan datang dengan 
                        tanduk, rambut dan bulunya. Dan pahala kurban itu di sisi Allah SWT lebih dahulu dari pada darah
                        yang menetes pada suatu tempat sebelum menetes ke tanah. 
                        Maka hiasilah dirimu dengan ibadah qurban." (HR Tirmidzi dan Ibnu Majah).
                    <b>
                </center>
                <hr>

                Ingin tahu lebih lanjut tentang kami ?
                <br>
                Mari bersilaturahmi 🙏
                
            </div>
         </div>
      </div>
      {#  #}
        <div class="row gy-4">
          <!-- END LIST OF DONATUR -->
          <!-- FORM DONATION -->
            <div class="col-md-6 col-xl-12" style="height:500px;overflow-y: scroll;overflow-x: hidden;">
                <div  class="ml-2 mr-2  border-primary ml-4">
                    <div class="ml-4">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <a style="" class="card-text"><i class="fa fa-user mg-r-5"></i>Narahubung</a>
                            </div>
                            <div class="col-12">
                                <a style="" class="card-text"><i class="fa fa-phone mg-r-5"></i>022-6625871</a>
                                <a style="" class="card-text"><i class="fa fa-phone mg-r-5"></i>+62 858-4601-6660</a>
                                <a style="" class="card-text"><i class="fa fa-envelope mg-r-5"></i>cerdaslca@gmail.com</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div  class="ml-2 mr-2 mt-4">
                    <div class="">
                        <div class="row">
                            <div class="col-6 mb-1 ml-4">
                                <a href="https://gencarlca.id" target="_blank" class="card-text"><i style="font-size:20px" class="fa fa-globe mg-r-5"></i>gencarlca.id</a>
                            </div>
                            <div class="col-5 mb-1 ml-4 mt-2">
                                <a href="https://www.facebook.com/cerdasalquran" target="_blank" class="card-text"><i style="font-size:20px;color:#083bbd" class="fa fa-facebook-square mg-r-5"></i>cerdasalquran</a>
                            </div>
                            <div class="col-6 mb-1 ml-4 mt-2">
                                <a href="https://www.instagram.com/lembagacerdasalquran/" target="_blank" class="card-text"><i style="font-size:20px;color:#e02c6f" class="fa fa-instagram mg-r-5"></i>lembagacerdasalquran</a>
                            </div>
                            <div class="col-5 mb-1 ml-4 mt-2">
                                <a href="https://www.youtube.com/user/cerdaslca" target="_blank" class="card-text"><i style="font-size:20px;color:#f70000" class="fa fa-youtube-square mg-r-5"></i>cerdaslca</a>
                            </div>
                            
                        </div> 
                    </div>
                </div>

                <div class="row" style="margin-top:-150px">
                    <div style="width:80%" class=" mb-1">
                                
                    </div>
                    <div style="width:20%;" class="mb-1">
                        
                        <a href="https://wa.me/6285846016660" target="_blank" class="card-text"><i style="font-size:50px;color:#01e675" class="fa fa-whatsapp mg-r-10"></i>
                        </a>
                        
                    </div>
                </div>
        </div>
          <!-- END FORM DONATION -->
        </div>
    </section><!-- End Contact Section -->
{% endblock %}
{% block custom_js %}
{% endblock %}