{% extends "frontend/skeleton.twig" %}
{% block additional_css %}
<link href="{{base_url()}}assets/template/frontend/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <!-- ======= Donation Section ======= -->
    <section id="donation" class="contact pt-1" style="background-image: url('https://scola-uploader.sgp1.digitaloceanspaces.com/upload/cd4d29ddcc3648877dc98a18/backgroundH.jpg');">

        {#  #}
      <div class="pageheader">
         <div class="row ml-1 mr-1 mb-1">
            <div class="col-12 mt-3 mb-2" >
                <center>
                <img class="img-profile" src="https://operasional.gencarlca.id/public/assets/login/images/alert4.png"><br>
                <h3 class="{{(status == false ? 'text-danger' : '')}}">{{title}}</h3>
                <p style="font-size:15px;color:black" class="text-muted">{{body}}</p>
                <br>
                {% if status == true %}
                <p>Terimakasih sudah mendaftar 🙏 semoga Allah senantiasa memberikan sahabat kesehatan dan kelapangan rezeki 🤲</p>
                <p>Sebagai bentuk transparansi, kami akan memberikan informasi kepada kontak whatsApp yang sudah sahabat daftarkan 🙏</p>
                <a href="{{base_url()}}Page/beranda" id="submit" class="btn btn-success w-100">Kembali ke Beranda</a>
                {% else %}
                <a href="{{base_url()}}Page/donasi" id="submit" class="btn btn-danger w-100">Kembali ke Beranda</a>
                {% endif %}
                </center>
                <br><br><br><br><br><br><br><br><br>
            </div>
         </div>
      </div>
      {#  #}
        </div>
    </section>
{% endblock %}
{% block custom_js %}
{% endblock %}