{% extends "frontend/skeleton.twig" %}
{% block additional_css %}
<link href="{{base_url()}}assets/template/frontend/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <!-- ======= Donation Section ======= -->
    <section id="donation" class="contact pt-1" style="background: linear-gradient(#30d02c, #fff438);">

        {#  #}
      <div class="pageheader">
         <div class="row ml-1 mr-1 mb-1">
            <div class="card border-primary" style="background-color:#fafbff">
                <div class="card-body"  style="background-color:#fafbff">
                    <div class="row">
                        <div class="col-12 mb-1">
                            <center>
                            <a style="" class="card-text"><b><i class="fa fa-dot-circle-o mr-1"></i>Target</b></a>
                            </center>
                        </div>
                        <div style="width:65%">
                            <a style="" class="card-text mb-1">📍🗺️ 61 Desa Kelurahan</a>
                            <a style="" class="card-text">🐪🐂🐏 100 Hewan Qurban</a>
                        </div>
                        <div style="width:35%">
                            <a href="{{ base_url() }}Page/donation" class="animated infinite bounce  btn btn-sm btn-danger">DAFTAR <br>SEKARANG !!!</a>
                        </div>
                
                        <div class="col-12 mt-3">
                            <center>
                            <a style="" class="card-text"><b><i class="fa fa-check-square-o mr-1"></i>Pencapaian</b></a>
                            </center>
                        </div>
                        <div class="col-12">
                            <div class="row mt-2">
                            <div class="col-12">
                              <div class="  d-flex">
                                <div class="small">({{ percen }}%)</div>
                                <div class="ml-auto mr-2"><span style="font-size:10px" class="text-danger fa fa-minus-circle fa-sm mr-1"></span>{{ minus }} Qurban</div>
                              </div>
                                <div style="height:10px" class="progress progress-xs mb-2">
                                    {% if percen >= 0 and percen <= 20 %}
                                    <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% elseif percen > 20 and percen <= 40 %}
                                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% elseif percen > 40 and percen <= 60 %}
                                    <div class="progress-bar progress-bar-striped bg-secondary progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% elseif percen > 60 and percen <= 80 %}
                                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% elseif percen > 80 and percen <= 100 %}
                                    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: {{ percen }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    {% endif %}
                                </div>
                              <div class="  d-flex">
                                <div class="mr-auto small text-success"><a style="font-size:10px">🐪🐂🐏{{ total }} Hewan Qurban</a></div>
                                <div class="ml-auto small text-danger">
                                    <a id="timeCountdown" class="card-text"></a>
                                    <script>
                                        $( document ).ready(function() {
                                            countDown('July 09, 2022 08:00:00', 1);
                                        });
                                        function countDown(date, id){
                                            var countDownDate = new Date(date).getTime();
                                            var x = setInterval(function() {
                                            var now = new Date().getTime();
                                            var distance = countDownDate - now;
                                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                            document.getElementById("timeCountdown").innerHTML = days + " hari " + hours + " : "
                                            + minutes + " : " + seconds + " lagi";
                                            if (distance < 0) {
                                                clearInterval(x);
                                                document.getElementById("timeCountdown").innerHTML = "TERLEWAT";
                                            }
                                            }, 1000);
                                        }
                                    </script>
                                </div>
                              </div>
                            </div>
                        </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-12 mt-3 mb-2" >
                <a style="float:left"><h1 class="pd-0 mg-0 tx-15 text-overflow text-dark mr-2">📍🗺️ {{ data|length }} Lokasi</h1></a>
                <a style="float:right"><h1 class="pd-0 mg-0 tx-15 text-overflow text-success mr-2">🐪🐂🐏</h1></a>
            </div>
         </div>
      </div>
      {#  #}
        <div class="row gy-4">
          <!-- END LIST OF DONATUR -->
          <!-- FORM DONATION -->
                <div class="col-md-6 col-xl-12" style="height:500px;overflow-y: scroll;overflow-x: hidden;">
                {% for row in data %}
                <div  class="ml-2 mr-2 card border-primary mt-2">
                    <div class="card-body bg-white" id="btn-detail-{{ row.id }}">
                        <div class="row">
                            <div class="col-12">
                                <a style="float:right;text-align:right" class="card-text text-success">{{ row.kota }}<i class="fa fa-check-square mg-l-5"></i></a>
                            </div>
                            <div class="col-12">
                                <a style="font-size:16px" class="card-text"><i class="fa fa-user mg-r-5"></i><b>{{ row.nama }}</b></a>
                            </div>
                            <div class="col-12">
                                <a style="" class="card-text"><i class="fa fa-map mg-r-5"></i>Desa/Kel {{ row.desa }} RT {{ row.rt }}/ RW {{ row.rw }} Kec {{ row.kecamatan }} Kab/Kota {{ row.kota }} Provinsi {{ row.provinsi }}</a>
                            </div>
                        </div> 
                    </div>
                </div>
                {% endfor %}
                <br><br><br><br><br><br><br>
        </div>
          <!-- END FORM DONATION -->
        </div>
    </section><!-- End Contact Section -->
{% endblock %}
{% block custom_js %}
{% endblock %}