{% extends "frontend/skeleton.twig" %}
{% block content %}
<center><img style="height:55%;width:90%;opacity:0.2;filter: alpha(opacity=40);margin-top:80px" src="https://akhwat.gencarlca.id/public/assets/images/logo.png"></center>

<footer style="margin-top:10%" class="">
		<center><p style="font-size:10px" class="pd-y-3 mb-0">Copyright&copy; 2021 | Created By <a href="#" target="_blank">Dept IT LCA</a></p></center>
	</footer>                                       
{% endblock %}