<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta_head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% endblock %}
  <title>LCA | Lembaga Cerdas Al-Qur'an</title>
 <link rel="shortcut icon" href="https://akhwat.gencarlca.id/public/assets/images/logo.png" />

  {% block css %}
  <link rel="stylesheet" href="{{ base_url() }}assets/css/animate.css">
  <!-- Favicons -->
  <link rel="shortcut icon" href="https://akhwat.gencarlca.id/public/assets/images/logo.png" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{{base_url()}}assets/template/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/remixicon/remixicon.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{{base_url()}}assets/template/frontend/css/style.css" rel="stylesheet">

{# custom #}
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/default/default.css"/>
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/plugins/bootstrap/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/css/app.min.css"/>
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/css/style.min.css"/>
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/plugins/font-awesome/css/font-awesome.min.css"/>
<link href="{{ base_url()}}assets/login/css/sweetalert2.min.css" rel="stylesheet" type="text/css" media="all" />
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/plugins/simple-line-icons/css/simple-line-icons.css">
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/plugins/ionicons/css/ionicons.css">
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/plugins/themify-icons/themify-icons.css">
<link type="text/css" rel="stylesheet" href="https://akhwat.gencarlca.id/public/assets/plugins/toastr/toastr.min.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script src="https://akhwat.gencarlca.id/public/assets/plugins/feather-icon/feather.min.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/plugins/countup/counterup.min.js"></script>		
<script src="https://akhwat.gencarlca.id/public/assets/plugins/waypoints/waypoints.min.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/js/app.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/js/custom.js"></script>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
<script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>

 
<!--AMP HTML files require a canonical link pointing to the regular HTML. If no HTML version exists, it should point to itself.-->
<link rel="canonical" href="index.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo:300,400&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap">
<link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">

  <!-- Sandbox plugins -->
  {# // <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="{{midtrans_key}}"></script> #}
  <script type="text/javascript" src="https://app.midtrans.com/snap/snap.js" data-client-key="{{midtrans_key}}"></script>
  <style>
.slider1 {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 30px 0;
}
.slides1 {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides1::-webkit-scrollbar { width: 3px; height: 3px; }
.slides1::-webkit-scrollbar-thumb { background: #ccc; border-radius: 2px; }
.slides1::-webkit-scrollbar-track { background: transparent; }
.slides1 > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 150px;
  height: 100px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  background: #fff;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  border: 1px solid #228dff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 100%;
}
</style>
<style>
.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 30px 0;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar { width: 3px; height: 3px; }
.slides::-webkit-scrollbar-thumb { background: #ccc; border-radius: 2px; }
.slides::-webkit-scrollbar-track { background: transparent; }
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 150px;
  height: 100px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  background: #fff;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  border: 1px solid #228dff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 100%;
}
</style>
  {% endblock %}
  {% block additional_css %}
  {% endblock %}

  <!-- =======================================================
  * Template Name: FlexStart - v1.1.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body style="font-family: 'Josefin Sans';background-color:white;">		
	<div class="content-wraper">
			
	
	{# <footer class="mt-3 ml-3 mr-3">
        <div class="row">
            <div class="col-1">
                <a href="{{ base_url() }}Finance_simpanan/secret"><img  style="height:20px;width:20px;" src="https://scola-uploader.sgp1.digitaloceanspaces.com/upload/2a4b529d008a7f320c04202a/logo%20black.png"></a>
            </div>
            <div class="col-5">
		        <a  class="pd-y-3 mb-0">{{ namaku }}</a>
            </div>
            <div class="col-6">
		        <center><a href="{{ base_url() }}Auth/logout" class="pd-y-3 mb-0 float-right text-danger mr-3"><span class="fa fa-sign-out"></span></a></center>
            </div>
        </div>
	</footer> #}
<nav class="footer-6-icons">
<a href="{{ base_url() }}Page/beranda/{{ secret_key }}"><i style="color:{{ menu == 'beranda' ? '#267ec0' : '' }};margin-top:6px;padding-top:6px;" data-feather="home"></i><br><em>Beranda</em></a>
<a href="{{ base_url() }}Page/mudhohi/{{ secret_key }}"><i style="color:{{ menu == 'mudhohi' ? '#267ec0' : '' }};margin-top:6px;padding-top:6px;" data-feather="users"></i><br><em>Mudhohi</em></a>
<a href="{{ base_url() }}Page/donation/{{ secret_key }}"><i style="color:{{ menu == 'transaksi' ? '#267ec0' : '' }};margin-top:6px;padding-top:6px;" data-feather="repeat"></i><br><em>Transaksi</em></a>
{# <a href="#"><i style="background-color:{{ menu == 'siklus' ? '#580c8d' : '#267ec0' }};padding:14px;margin:4px;color:{{ menu == 'siklus' ? '#267ec0' : '#580c8d' }}" class="img-fluid wd-50 ht-50 rounded-circle" data-feather="aperture"></i><br><em>Donasi</em></a> #}
<a href="{{ base_url() }}Page/daerah/{{ secret_key }}"><i style="color:{{ menu == 'daerah' ? '#267ec0' : '' }};margin-top:6px;padding-top:6px;" data-feather="map"></i><br><em>Sebaran</em></a>
<a href="{{ base_url() }}Page/kalkulator/{{ secret_key }}"><i style="color:{{ menu == 'kalkulator' ? '#267ec0' : '' }};margin-top:6px;padding-top:6px;" data-feather="clock"></i><br><em>Tabungan</em></a>
<a href="{{ base_url() }}Page/kontak/{{ secret_key }}"><i style="color:{{ menu == 'kontak' ? '#267ec0' : '' }};margin-top:6px;padding-top:6px;" data-feather="smartphone"></i><br><em>Kontak</em></a>

</nav>

    {% block content %}{% endblock %}
	

		<script>
		var x = document.getElementById("myAudio");  
		var c = document.getElementById("play-btn");  

		function playAudio() { 
		if (x.paused) {
			c.classList.remove("muted");
			return x.play();
		}else {
			c.classList.add("muted");
			return x.pause(); 
		}
		} 
		</script>

  <!-- Vendor JS Files -->
  <script src="{{base_url()}}assets/template/frontend/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/aos/aos.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/purecounter/purecounter.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  
  <!-- jQuery -->
  <script src="{{base_url()}}assets/template/frontend/js/jquery.min.js"></script>
  
  {# custom #}
  
<script src="https://akhwat.gencarlca.id/public/assets/plugins/jquery/jquery.min.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/plugins/jquery-ui/jquery-ui.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/plugins/feather-icon/feather.min.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/plugins/toastr/toastr.min.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/js/app.js"></script>
<script src="https://akhwat.gencarlca.id/public/assets/js/custom.js"></script>


  {% block custom_js %}{% endblock %}
</body>
</html>